body{
    background-color: lightgray;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#H1{
    font-size: 2.5em;
    text-align: center;
    display: block;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 30px;
    border: 3px solid black;
    width: 800px;
    height: 210px;
    margin: auto;
    font-size: 2.5em;
}

#display{
    font-size: 3em;
    font-family: monospace;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.795);
    margin-bottom: 25px;
}

.button{
    font-size: 0.6em;
    padding: 5px;
    cursor: pointer;
    border-radius: 15px;
    width: 200px;
}

#iniciarbtn{
    background-color:rgb(5, 255, 5);
    color: white;
}

#iniciarbtn:hover{
    background-color:rgb(20, 238, 20);
    color: white;
}

#pararbtn{
    background-color: red;
    color: white;
}

#pararbtn:hover{
    background-color: rgb(187, 5, 5);
}

#resetarbtn{
    background-color: blue;
    color: white;
}

#resetarbtn:hover{
    background-color: rgb(26, 26, 202);
}