
body{
    text-align: center;
}

#botao{
    display: block;
    text-align: center;
    margin: auto;
    padding: 10px;
    font-size: 2.0em;
    border-radius: 5px;
    background-color: lightblue;
    cursor: pointer;
    
}

#botao:hover{
    background-color:rgb(112, 236, 236) ;
    color: white;
}

.label{
    font-size: 2.0em;
}