body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.0em;
    cursor: pointer;
}
#contagem{
    display: block;

    text-align: center;
    font-size: 9.0em;
    margin: auto;
}

#container{
    text-align: center;
    margin: auto;
}

.botoes{
    background-color: lightskyblue;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.5em;
    cursor: pointer;
    color: white;
    transition: 1.s;
    transform: 12.s;
}

.botoes:hover{
    background-color: rgb(27, 137, 206);
}


