body{
    background-image: url(losangeles.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#clock{
    font-family: monospace;
    font-size: 6.5em;
    font-weight: bold;
    color: white;
    backdrop-filter: blur(5px);
    background-color: rgba(128, 128, 128, 0);
    width: 100%;
}