#container{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2em;
}

button{
    font-size: 0.5em;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: rgb(83, 192, 219);
    color: white;
    font-weight: bold;
    cursor: pointer;
}


button:hover{
    background-color: rgb(53, 182, 214);
}

input{
    width: 250px;
    height: 30px;
    text-align: center;
    font-weight: bold;
}

#resultado{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}