
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 3%, 61%);
}


#calculadora{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: center;
    border: none;
    border: 3px solid black;
    background-color: hsl(0, 0%, 20%);
    color: white;
}


#chaves{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    border: 2px solid black;
    background-color: rgb(51, 49, 49);
    color: white;
    font-size: 3.0em;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: hsl(0, 0%, 40%);
}

button:active{
    background-color: hsl(0, 0%, 50%);
}

.operador-btn{
    background-color: hsl(35, 100%, 55%);
}

.operador-btn:hover{
    background-color: hsl(35, 100%, 65%);
}

.operador-btn:active{
    background-color: hsl(35, 100%, 75%);
}