body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
    cursor: pointer;
}



form{
    background-color: white;
    width: 300px;
    height: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    font-size: 1.5em;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.555);

}

input{
    border-radius: 20px;
    border: 3px solid black;
    text-align: center;
    font-size: 1.0em;
    width: 200px;
    
}

label{
    font-size: 1.5em;
    padding: 10px;
    margin-top: 05px;
}

button{
    padding: 10px;
    margin-top: 15px;
    width: 100px;
    font-size: 0.7em;
    background-color: rgba(11, 219, 219, 0.623);
    border-radius: 10px;
    cursor: pointer;
}

button:hover{
    background-color: blue;
    color: white;
}

#montante{
    color: rgb(18, 128, 8);
}

