 body{
            background-color: gray;
        }

       #box{
        background-color: white;
        width: 300px;
        height: 300px;
        font-size: 4.5em;
        font-weight: bold;
        display: flex;
        align-items: center;
        text-align: center;
        margin: auto;
        border-radius: 20px;
        border: 1px solid black;
        cursor: pointer;
        padding: 10px;
        margin-bottom: 10px;
        }

        button{
            display: block;
            text-align: center;
            margin: auto;
            padding: 10px;
            border: 1px solid black;
            border-radius: 10px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.5em;
            background-color: aqua;
            cursor: pointer;
        }

        button:hover{
            background-color: rgb(3, 241, 241);
            color: white;
        }

        button:active{
            background-color: rgb(3, 241, 241);
            color: white;
        }