body{
    background-color: gray;
}

#box{
    background-color: white;
    height: 200px;
    width: 200px;
    font-size: 7.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
}