
        body{
            background-color: black;
            margin: 10px;
        }
       img{
        width: 600px;
        height: 400px;
        border-radius: 10px;
        border: 2px solid red;
        margin: auto;
        display: block;
        margin-bottom: 50px;
       }

       button{
        font-size: 2.0em;
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px;
        border-radius: 15px;
        border: 1px solid black;
        margin: auto;
        display: block;
        background-color: white;
        color: red;
        width: 250px;
        cursor: pointer;
       }
        button:hover{
        background-color: red;
        color: white;
       }