body{
    background-color: black;
    cursor: pointer;
}

#welcome-msg{
    color: white;
    text-align: center;
    font-size: 3.0em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

img{
    text-align: center;
    margin: auto;
    width: 80vw;
}