body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: white;
    text-align: center;
}

div{
    background-color: white;
    width: 300px;
    height: 200px;
    border-radius: 5px;
    margin: auto;
    padding: 20px;
    cursor: pointer;
    font-size: 1.5em;
}

input[type="radio"]:checked + label {
  color: rgb(12, 188, 211);
  font-weight: bold;
  transition: 0.3s;
}



button{
    display: block;
    width: 100px;
    height: 30px;
    margin: auto;
    border-radius: 10px;
    background-color: rgb(12, 188, 211);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.288);
    color: white;
    cursor: pointer;
    font-size: 0.em;
     transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 5px 6px 14px rgba(0, 0, 0, 0.3);
  background: linear-gradient(135deg, rgb(0, 180, 255), rgb(12, 188, 211));
}

button:active {
  transform: scale(0.97);
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.3);
}

.paragrafo{
    color: white;
    text-align: center;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}



