body{
    background-color: rgb(100, 99, 99);
    font-size: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1{
    color: white;
}

#container{
    background-color: white;
    display: block;
    margin: auto;
    width: 350px;
    height: 320px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px 5px black;
    font-weight: bold
}   

input{
    border: 1px solid rgba(0, 0, 0, 0.445);
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 10px;
}

button{
    cursor: pointer;
    padding: 5px;
    background-color: aqua;
    font-size: 0.6em;
    border-radius: 5px;
    margin: 10px;
}

button:hover{
    background-color: rgb(5, 199, 224);
    color: white;
}